#menu-mobile {
    width: 101vw;
    margin-left:-3vw;
}
a.ancor{
    text-decoration: none;
    color: black;
}
.icon-svg{
    margin: 0% 20%;
}
nav#navegacao {
    display: inline;
    position: fixed;
    bottom: 0%;
    width: auto;
}
div.inferior{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
div.inferior div{
    margin: auto;
}
div#escondido {
    flex-direction: column;
    width:80%;
    position: absolute;
    visibility: hidden;
    bottom:70px;
}
#escondido input:checked ~ a{
    visibility: visible;
    background-color: rgb(240, 240, 245);
    width: 200px;
    padding: 10px;
}
#escondido input:checked ~label{
    padding: 10px;
    width: 200px;
    background-color: blue;
    visibility: visible;
    justify-content: flex-end;
}
input.nao-ver {
    display: none;
}
div.geral{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.inferior a, .inferior label{
    text-align: center;
    vertical-align: middle;
}
#menu-visivel .inferior{
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.671);
    border-left: none;
    background-color: rgb(255, 255, 255);
    width: 101vw;
    align-content: center;
    align-items: center;
}
.inferior svg{
    flex-direction: row;
    padding: 1px 1px;
}
.tagp{
    margin: 0px;
    font-size: 1em;
}
.label1 {
    margin: 0px;
    font-size: 0.9em;
}
#fantasma{
	display:none;
}
/*comportamento de acordo com a largura da tela*/
@media screen and (min-width:400px) and (max-width:599px) {
    #menu-mobile {
        margin-left:-3vw;
    }
    .inferior svg{
        height: 50px;
        width: 50px;
    }
    .label1{
    font-size: 1.1em;
    }
    .tagp{
    font-size: 1.3em;
    }
    div#escondido  {
        bottom: 80px;
    }
}
   
@media screen and (min-width:600px) and (max-width:700px){
    #menu-mobile {
        margin-left:-2vw;
    }
    .inferior svg{
        height: 60px;
        width: 60px;
    }
    .label1{
    font-size: 1.3em;
    }
    .tagp{
    font-size: 1.5em;
    }
    div#escondido  {
        bottom: 90px;
    }
}
/*deixa de exibir nessa largura*/
@media screen and (min-width:701px){
   div#menu-mobile {
        display: none;
    }
}